* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(./assets/bg-mobile-dark-mode.jpg); */
  background-image: url("https://wallpaperaccess.com/full/2109.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

#container {
  width: 22.5rem;
  margin: 3.5rem auto 0rem;
  padding: 0 1.5rem;
}

#profile {
  text-align: center;  
  padding: 1.5rem;
}

#profile img {
  width: 7rem;
  transition: all 0.5s;
}

#profile img:hover {
  transform: scale(1.1);
}

#profile p {
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

/* links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.5rem;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}

/* pseudo-selector */
ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
  transform: scale(1.05);
}
