* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url("./assets/bg-mobile-dark-mode.png");
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(3, 0, 0, 0.308);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-star.svg);
  --footer-font-weight: normal;
}

.light {
  --text-color: black;
  --bg-url: url("./assets/bg-mobile-light-mode.png");
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(3, 0, 0, 0.308);
  --highlight-color: rgba(0, 0, 0, 0.25);
  --switch-bg-url: url(./assets/sun.svg);
  --footer-font-weight: bold;
}

body {
  /* background-image: url(./assets/bg-mobile-dark-mode.jpg); */
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

#container {
  width: 22.5rem;
  margin: 1rem auto 0rem;
  padding: 0 1.5rem;
}

/* profile */
#profile {
  text-align: center;  
  padding: 1.5rem;
}

#profile img {
  width: 7rem;
  transition: all 0.5s;
}

#profile img:hover {
  transform: scale(1.1);
}

#profile p {
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

/* switch */
#switch {
  position: relative;
  width: 4rem;
  margin: 0.25rem auto;
}

#switch button {
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  cursor: pointer;
  
  width: 2rem;
  height: 2rem;
  background: white;
  border: 0;
  border-radius: 50%;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center ;
  transition: all 0.3s;
  
  animation: slide-back 0.4s;
}

#switch button:hover {
  outline: 0.5rem solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch span {
  display: block;
  width: 4rem;
  height: 1.5rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 624.94rem;
}

/* links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1.5rem 0 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.5rem;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
  transform: scale(1.05);
}

#social-links {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  border-radius: 50%;
  transition: all 0.35s;
}

#social-links a:hover {
  background: var(--highlight-color);
  transform: scale(1.1);
}

footer {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-color);
  font-weight: var(--footer-font-weight);
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  } to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  } to {
    left: 0;
  }
}

/* media queries */
@media (min-width: 500px) {
  :root {
    --bg-url: url("./assets/bg-desk-dark-mode.png");
  }
  
  .light {
    --bg-url: url("./assets/bg-desk-light-mode.png");
  }
}