* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg-mobile-dark-mode.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

#container {
  width: 22.5rem;
  margin: 3.5rem auto 0rem;
}

#profile {
  text-align: center;  
  padding: 1.5rem;
}

#profile img {
  width: 7rem;
}

#profile p {
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

/* links */

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.5rem;

  background: rgba(255, 255, 255, 0.1);

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

}
